<style type="text/css">

.todo-table {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #ffffff;
	
	-moz-border-radius-bottomleft:12px;
	-webkit-border-bottom-left-radius:12px;
	border-bottom-left-radius:12px;
	
	-moz-border-radius-bottomright:12px;
	-webkit-border-bottom-right-radius:12px;
	border-bottom-right-radius:12px;
	
	-moz-border-radius-topright:12px;
	-webkit-border-top-right-radius:12px;
	border-top-right-radius:12px;
	
	-moz-border-radius-topleft:12px;
	-webkit-border-top-left-radius:12px;
	border-top-left-radius:12px;
}.todo-table table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.todo-table tr:last-child td:last-child {
	-moz-border-radius-bottomright:12px;
	-webkit-border-bottom-right-radius:12px;
	border-bottom-right-radius:12px;
}
.todo-table table tr:first-child td:first-child {
	-moz-border-radius-topleft:12px;
	-webkit-border-top-left-radius:12px;
	border-top-left-radius:12px;
}
.todo-table table tr:first-child td:last-child {
	-moz-border-radius-topright:12px;
	-webkit-border-top-right-radius:12px;
	border-top-right-radius:12px;
}.todo-table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:12px;
	-webkit-border-bottom-left-radius:12px;
	border-bottom-left-radius:12px;
}.todo-table tr:hover td{
	
}
.todo-table tr:nth-child(odd){ background-color:#e4e4e4; }
.todo-table tr:nth-child(even)    { background-color:#ffffff; }.todo-table td{
	vertical-align:middle;
	
	
	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:13px;
	font-size:15px;
	font-family:Arial;
	font-weight:normal;
	color:#323232;
}.todo-table tr:last-child td{
	border-width:0px 1px 0px 0px;
}.todo-table tr td:last-child{
	border-width:0px 0px 1px 0px;
}.todo-table tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.todo-table tr:first-child td{
		background:-o-linear-gradient(bottom, #408ad2 5%, #0c5aa6 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #408ad2), color-stop(1, #0c5aa6) );
	background:-moz-linear-gradient( center top, #408ad2 5%, #0c5aa6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#408ad2", endColorstr="#0c5aa6");	background: -o-linear-gradient(top,#408ad2,0c5aa6);

	background-color:#408ad2;
	border:0px solid #ffffff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:15px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.todo-table tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #408ad2 5%, #0c5aa6 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #408ad2), color-stop(1, #0c5aa6) );
	background:-moz-linear-gradient( center top, #408ad2 5%, #0c5aa6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#408ad2", endColorstr="#0c5aa6");	background: -o-linear-gradient(top,#408ad2,0c5aa6);

	background-color:#408ad2;
}
.todo-table tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.todo-table tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}



.todo-table-archive {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #ffffff;
	
	-moz-border-radius-bottomleft:12px;
	-webkit-border-bottom-left-radius:12px;
	border-bottom-left-radius:12px;
	
	-moz-border-radius-bottomright:12px;
	-webkit-border-bottom-right-radius:12px;
	border-bottom-right-radius:12px;
	
	-moz-border-radius-topright:12px;
	-webkit-border-top-right-radius:12px;
	border-top-right-radius:12px;
	
	-moz-border-radius-topleft:12px;
	-webkit-border-top-left-radius:12px;
	border-top-left-radius:12px;
}.todo-table-archive table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.todo-table-archive tr:last-child td:last-child {
	-moz-border-radius-bottomright:12px;
	-webkit-border-bottom-right-radius:12px;
	border-bottom-right-radius:12px;
}
.todo-table-archive table tr:first-child td:first-child {
	-moz-border-radius-topleft:12px;
	-webkit-border-top-left-radius:12px;
	border-top-left-radius:12px;
}
.todo-table-archive table tr:first-child td:last-child {
	-moz-border-radius-topright:12px;
	-webkit-border-top-right-radius:12px;
	border-top-right-radius:12px;
}.todo-table-archive tr:last-child td:first-child{
	-moz-border-radius-bottomleft:12px;
	-webkit-border-bottom-left-radius:12px;
	border-bottom-left-radius:12px;
}.todo-table-archive tr:hover td{
	
}
.todo-table-archive tr:nth-child(odd){ background-color:#e4e4e4; }
.todo-table-archive tr:nth-child(even)    { background-color:#ffffff; }.todo-table td{
	vertical-align:middle;
	
	
	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:13px;
	font-size:15px;
	font-family:Arial;
	font-weight:normal;
	color:#323232;
}.todo-table-archive tr:last-child td{
	border-width:0px 1px 0px 0px;
}.todo-table-archive tr td:last-child{
	border-width:0px 0px 1px 0px;
}.todo-table-archive tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.todo-table-archive tr:first-child td{
		background:-o-linear-gradient(bottom, #959595 5%, #757575 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #959595), color-stop(1, #757575) );
	background:-moz-linear-gradient( center top, #959595 5%, #757575 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#959595", endColorstr="#757575");	background: -o-linear-gradient(top,#959595,757575);

	background-color:#959595;
	border:0px solid #ffffff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:15px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.todo-table-archive tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #959595 5%, #757575 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #959595), color-stop(1, #757575) );
	background:-moz-linear-gradient( center top, #959595 5%, #757575 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#959595", endColorstr="#757575");	background: -o-linear-gradient(top,#959595,757575);

	background-color:#959595;
}
.todo-table-archive tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.todo-table-archive tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}



/* ---------- Check box style  ------------- */


#todo-header{
	margin-bottom: 20px;
}
#todo-header h2{
	display: inline;
}
#todo-header span{
	color: #909090;
	margin:15px;
}


#new-task-form{
	margin-bottom: 45px;
	margin-top: 30px;
	width: 850px;
	background-color:#e4e8ec; 
	padding:15px;
	padding-left: 35px;
	padding-right: 35px;
	border-radius: 15;
	font-size: 18;
	line-height: 40px;
}
#new-task-form div{
	margin-bottom:10px;
}
#new-task-form h4{
	display: inline;
	margin-right: 5px;
}
#new-task-form input{
	font-size: 18;
}

.done-true {
  text-decoration: line-through;
}

#todo-lists{

}
#todo-lists div{
	margin-top: 10px;
}

#completed-tasks-div{
	color:grey;
	padding-top: 20px;
}

#completed-tasks-div h3{
	margin-bottom: 10px;
}

.margin-5{
	margin:5px;
}





.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}



#user-selector{
}

#user-selector a{
	margin: 10px;
}

.tbl-btn{
	cursor: pointer;
}
.tbl-btn:hover{
	cursor: pointer;
	color: grey;
}
</style>

<div id="todo-header">
	<h2>Hockey Pace To-Do</h2>
	<span>{{remaining()}} of {{total()}} remaining</span>
</div>

<div id="new-task-form" class="form-inline" style="">
	<legend style="color:#606060">What needs to be done?</legend>
	<form ng-submit="addTodo()">
		<!--
		<select chosen style="width:100px;" ng-model="selectedPriority" ng-options="p.label for p in priorities"></select> -->
		<div>
			<input class="form-control" type="text" placeholder="Enter non-routine task..." ng-model="todoText" style="width:575px; padding:5px">
			<input class="form-control" type="text-field" placeholder="Duration" ng-model="duration" style="width:85px; padding:5px">
			<select chosen watch="timeTypes" style="width:100px" ng-model="selectedTimeType" ng-options="t.label for t in timeTypes">
			</select>
		</div>
		<div class="clear"></div>
		<div style="width:775; margin-top:10px">
			<h4 style="color:#606060">Priority:</h4>
			<select chosen watch="priorities" style="width:50px" ng-model="selectedPriority" ng-options="p.label for p in priorities">
			</select>
			<h4 style="margin-left:25px; color:#606060">Assigned To:</h4>

			<ul ng-repeat="e in employees">
				<li>{{e.firstname}}</li>
			</ul>

			<select chosen watch="employees" style="width:200px"  ng-model="employee" ng-options="e.firstname for e in employees"></select>
			<span class="glyphicon glyphicon-user margin-5"></span>
			<input style="float: right" type="submit" class="btn btn-primary" value="Add Task" ></input>
		</div>
	</form>
</div>

<div id="todo-lists">

	<div style="padding-bottom:10px; float: right">
		<input type="text" style="width:200px;" ng-model="searchText" placeholder="Search">
	</div>
	<table class="todo-table">
		<tr>
			<td style="width:60px"></td><td style="width:50px">Priority</td><td>Task</td><td style="width:220px">Employee</td><td style="width:110px"><span class="glyphicon glyphicon-time"></span></td><td style="width:40px"><span class="glyphicon glyphicon-pencil"></span></td>
		</tr>
		<tr ng-repeat="(id, todo) in getOpenTodos() | orderByPriority | filter:serchText ">
			<td ng-show="showReadOnly(todo)">
				<input type="checkbox" ng-model="todo.done" ng-change="todos.$save(id)" /></td>
			<td ng-show="showReadOnly(todo)">{{todo.$priority}}</td>
			<td ng-show="showReadOnly(todo)" class="done-{{todo.done}}" >{{todo.text}}</td>
			<td ng-show="showReadOnly(todo)">{{todo.employee.name}}</td>
			<td ng-show="showReadOnly(todo)" style="width:120px">{{getDurationStr(todo)}}</td>
			<td ng-show="showEditing(todo)" ></td>
			<td ng-show="showEditing(todo)"><input style="width:40px" value="{{editingTodo.$priority}}"></td>
			<td ng-show="showEditing(todo)"><textarea cols="48">{{editingTodo.text}}</textarea></td>
			<td ng-show="showEditing(todo)">
				<select chosen watch="employees" style="width:200px" ng-model="editingTodo.employee" ng-options="e.firstname for e in employees"></select>
			</td>
			<td ng-show="showEditing(todo)" style="width:120px">{{getDurationStr(todo)}}</td>
			<td><span ng-click="toggleEditMode(todo)" class="glyphicon glyphicon-{{getEditButtonClass(todo)}} tbl-btn"></span></td>
		</tr>
	</table>
	<div class="btn btn-default" ng-click="toggleCompleted()">{{toggleCompletedStr()}} Completed <span style="padding-left: 5px;" class="glyphicon glyphicon-chevron-{{getCheveronDirection()}}"></span></div>
	<div class="btn btn-default" ng-click="archive()" style="float: right">Archive {{completed()}} Completed</div>

	<div ng-show="showCompleted" id="completed-tasks-div">
		<span>{{getArchivedTodos().length}} Archived</span>
		<table class="todo-table-archive" style="margin-top:20px">
			<tr>
				<td style="width:60px"></td><td style="width:50px">Priority</td><td>Task</td><td>Employee</td><td style="width:110px">Due</td>
			</tr>
			<tr ng-repeat="(id, todo) in getArchivedTodos() | orderByPriority">
				<td>
				<input type="checkbox" ng-model="todo.done" ng-change="todos.$save(id)" /></td>
				<td>{{todo.$priority}}</td>
				<td class="done-{{todo.done}}" >{{todo.text}}</td>
				<td style="width:190px">{{todo.employee.name}}</td>
				<td style="width:120px">{{getDurationStr(todo)}}</td>
			</tr>
		</table>
		<div ng-show="showDeleteBtn()" ng-click="deleteSelected()" style="float: right" class="btn btn-danger">Delete {{selectedTodosCount()}} Tasks</div>
	</div>
</div>


